@{
    ViewData["Title"] = "Página protegida para administradores";
}
<h1>@ViewData["Title"]</h1>
<p>Esta página requiere autenticación del usuario <stromg> con rol Administrador</stromg> para poder visualizarse</p>
